.about {
  display: flex;
  flex-direction: column;
  row-gap: 9rem;
  justify-content: center;
  align-items: center;
}

.aboutus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 7rem;
  max-width: 80rem !important;
}

.aboutus-group {
  display: flex;
  width: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
.vertical-text-box {
  transform: rotate(-90deg);
  background: transparent;
}
.vertical-text {
  color: var(--font-primary);
  font-size: 7rem;
  font-weight: 100;
  letter-spacing: 0.4rem;
  background: transparent;
}

.aboutus-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-us-video {
  margin: auto;
  display: flex;
  width: 90%;
}
