* {
  background-color: var(--bg-primary);
  transition: all 0.5s;
}

@font-face {
  font-family: "Ghakity";
  src: url("../../assets/fonts/Ghakity.ttf");
}

.rotate-45 {
  transform: rotate(45deg);
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fixed {
  margin-top: 12rem;
  position: fixed;
}

a {
  text-decoration: none;
}
